* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.content .left {
  flex: 1;
}

.content .left div {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background: #09f;
}

.content .right {
  flex: 6;
}

.active {
  background: #f90 !important;
  color: #fff;
  font-size: 18px;
}

.showson {
  margin-top: 20px;
}
