*{
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  .leftBox{
    flex: 1;
    // background: #0f0;
  }
  .rightBox{
    flex: 9;
    background: #0ff;
    overflow: hidden;
  }
}

.tabBox{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 15px;
  background: #0f0;
}